@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");

:root {
  --primaryColor: rgba(0, 203, 255, 1);
  --secondaryColor: #ff0055;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --blueShadow: 1px 1px 1px 0px rgba(0, 203, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
a {
  text-decoration: none;
}
.defaultHero {
  min-height: calc(100vh - 62px);
  background: linear-gradient(rgba(10, 10, 10, 0.9), rgba(30, 30, 30, 0.9)),
    url("../images/code.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--secondaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
}
.btn-secondary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--secondaryColor);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-secondary:hover {
  background: var(--secondaryColor);
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
}
/* .gatsby-image-wrapper {
  max-height: 600px;
  box-shadow: var(--lightShadow);
} */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
